<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259379226218-40asu9a8ft5a9jtd6iks4mvegh4bvao5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259379226218-40asu9a8ft5a9jtd6iks4mvegh4bvao5</string>
	<key>API_KEY</key>
	<string>AIzaSyAjG9Aqh7OzzTY_tu4E9mRlB2ozx2MczbY</string>
	<key>GCM_SENDER_ID</key>
	<string>259379226218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>raj.bhaskar.swift.Tiktok</string>
	<key>PROJECT_ID</key>
	<string>tiktok-c9e4b</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-c9e4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259379226218:ios:b074f676d84a7f0f9ecc13</string>
</dict>
</plist>